---
---
@import '_normalize';
@import '_mixins';
@import '_github';
@import '_pygments';

html {
    width: 100%;
    max-width: 960px;
    margin: 30px auto;
}

body>header {
    margin-bottom: 40px;
}

section.content article {
    margin-bottom: 30px;

    header {
        h1, h2, h3 {
            display: inline-block;
        }

        a.permalink {
            float: right;
            margin-top: 0.3em;
        }

        p.author {
            display: block;
            float: right;
            clear: right;
            margin-top: -5px;
        }
    }

    pre.highlight {
        position: relative;

        a {
            position: absolute;
            top: -2px;
            right: 0px;
            background: #CCC;
            color: #FFF;
            padding: 0px 7px;
            border-bottom-left-radius: 2px;
            border-bottom: 1px solid #C4C4C4;
        }
    }

//    .footnotes {
//        border-top: 4px solid #ccc;
//    }
}

body>footer {
    margin-top: 3em;
    font-size: 0.9em;

    &, a {
        color: #bbb;
    }
}
