---
layout: default
title: Home
---
<section class="content">
    <h2>Queries</h2>
    {% for post in site.posts %} {% comment %} limit: 10  %} {% endcomment %}
    {% unless post.draft %}
    <article>
        <header>
            <h3>
                {% if post.link %}
                <a href="{{ post.link }}">{{ post.title }}</a>
                {% else %}
                {{ post.title }}
                {% endif %}
            </h3>
            <a title="Permalink" class="permalink" href="{{ post.url }}">
                <time datetime="{{ post.date | %Y-%m-%d %H:%M+01:00 }}">
                    {{ post.date | date: "%d. %B %Y" }}
                </time>
            </a>
            {% if post.author %}
                <p class="author">
                    by {% if post.author_email %}<a href="mailto:{{ post.author_email }}">{% endif %}{{ post.author }}{% if post.author_email %}</a>{% endif %}
                </p>
            {% endif %}
        </header>
        <section class="entry">
            {{ post.content }}
        </section>
    </article>
    {% endunless %}
    {% endfor %}
</section>
